.comment-main {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}
.comment-deleted {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
  background-color: rgba(255, 0, 0, 0.1);
}
.comment-reply-main{
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.comment-main .comment-writer-imagebox {
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  width: 15%;
}
.comment-main .comment-content{
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  width: 85%;
}
.comment-deleted .comment-writer-imagebox {
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  width: 15%;
}
.comment-deleted .comment-content{
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  width: 85%;
  opacity: 1;
}
.comment-reply-main .comment-writer-imagebox {
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  margin-left: 15%;
  width: 15%;
}
.comment-reply-main .comment-content{
  /* display: inline; */
  overflow: hidden;
  /* margin: 0 auto; */
  width: 70%;
}

.comment-writer-imagebox .profile-image {
  width: 100%;
  height: flex;
  object-fit: fill;
  border-radius: 100%;
}
.comment-content{
  font-size: small;
  font-weight: 450;
}
.conmment-writer-nickname{
  font-weight: 550;
}
.comment-footer{
  font-size: small;
  color: gray;
}