.notice-buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.notice-button{
  border-radius: 20px / 100%;
  position: relative;
  width: 40%;
	height: 36px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 0 0 5px 0;
}

.notice-buttons > button:active {
  color: blue;
  border: 1px solid grey;
  box-shadow: 1px 1px solid grey;
}