.search-filter {
  border: 1px solid rgba(68, 65, 65, 0.192);
  border-radius: 15px;
  margin: 10px 0px 10px 0px;
  padding: 10px 15px 10px 15px;
}

.search-filter .filter-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-filter .filter-namebox {
  margin: 10px 0;
}

.search-filter .filter-name {
  list-style-type: none;
  text-align: start;
  width: 100%;
  color: rgb(139, 139, 139);
  font-size: 16px;
  text-align: start;
  margin: 3px 5px;
  padding: 3px 5px;
  border: 1px solid rgba(185, 185, 185, 0.575);
  border-radius: 5px;
}

.search-filter .content .active {
  list-style-type: none;
  text-align: start;
  width: 100%;
  color: rgb(139, 139, 139);
  font-size: 16px;
  text-align: start;
  margin: 3px 5px;
  padding: 3px 5px;
  border: 1px solid rgba(19, 80, 194, 0.705);
  border-radius: 5px;
  box-shadow: 2px 2px;
}

.search-filter .filter-name:active {
  background: orange;
}

.search-filter .filter-name: {
  background: orange;
}

.search-filter .filter-date {
  list-style-type: none;
  text-align: start;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: start;
  margin: 11px 0;
  padding: 0;
}

.search-filter .filter-date > div > div {
  list-style-type: none;
  text-align: start;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: start;
  padding: 5px 0;
}

.search-filter .search-applybox {
  text-align: end;
}

.search-filter .search-apply {
  border: 1px solid rgba(151, 151, 151, 0.281);
  background: skyblue;
  border-radius: 5px;
}