.add-route-box {
  width: 100%;
}

.add-route-box .added-route {
  /* width: calc(100% / 3); */
  width: 30%;
  float: left;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  margin: 3px 5px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 13px;
  height: 26px;
  line-height: 26px;
  overflow: hidden;
}

.added-route:active {
  box-shadow: 1px 1px 1px grey inset;
  background: rgba(211, 211, 211, 0.61);
}

.add-route-box .add-button {
  background: rgba(135, 207, 235, 0.61);
  border: 1px solid black;
  padding: 0 5px;
  margin: 3px 5px;
  width: 30%;
  color: black;
  border-radius: 5px;
}

.add-route-box .add-button:active {
  box-shadow: 1px 1px 1px grey inset;
  background: rgba(95, 145, 165, 0.61);
}