.write-route-content{
	text-align: left;
}

.write-route-content-label{
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
}

.write-route-content-textarea{
	line-height: 20px;
  background: #fafafa;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  width: 340px;
}