.profile-page {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0 20px;
}

.profile-page a {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.profile .my-profile,
.profile .other-profile {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  color: black;
  /* border-color: #1161ee; */
}

.profile-page .fa-cog,
.profile-page .fa-unlock {
  vertical-align: middle;
  font-size: 18px;
}

/* .profile-page .fa-unlock {
  margin: 0 20px;
} */