/* '프로필 편집'  글씨 */
.update-profile {
  text-align: start;
  margin: 30px 20px 0 20px;
}

.update-profile > a {
  text-decoration: none;
  color: black;
}

.update-profile .fa-chevron-left {
  margin: 0 10px 30px 0;
}
/*  */

/* 프로필 닉네임, 사진, 사진 바꾸기 START */
.update-profile > span {
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
}

.update-profile .update-image {
  margin: 0 0 40px 0;
}


.update-profile .update-image > div {
  display: flex;
  justify-content: center;
}

.update-profile .update-image .profile-image-add {
  background: rgba(143, 218, 248, 0.253);
  padding: 3px 5px;
  border: 1px solid rgba(0, 0, 0, 0.534);
  border-radius: 5px;
  box-shadow: 1px 1px;
}

.update-profile .update-image .profile-image-add:active {
  background: rgba(119, 182, 207, 0.253);
  box-shadow: 1px 1px 5px grey inset;
}

.update-profile .update-image > div:first-child {
  font-size: 15px;
}

.update-profile .update-image > div:nth-child(2) > div {
  margin: 5px 0 20px 0;
  width: 130px;
  height: 130px;
  overflow: hidden;
  justify-content: end;
}

.update-profile .update-image > div:nth-child(2) > div > img {
  border-radius: 100%;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.update-profile .update-image > div:last-child > label {
  font-size: 15px;
  font-weight: 500;
  padding: 3px 4px 3px 4px;
  border: 1px solid rgb(165, 159, 159);
  border-radius: 10px;
}
/* 프로필 닉네임, 사진, 사진 바꾸기 END */

/* 상태 메시지 변경 */
.update-profile .update-message > div:first-child {
  text-align: start;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.update-profile .update-message > div:last-child {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 0 2px 3px;
}

.update-profile .update-message .update-comment {
  border: none;
  width: 100%;
  font-size: 18px;
}

.update-profile .update-message .fa-edit {
  font-size: 15px;
  line-height: 25px;
}

.update-profile .align-buttons {
  width:100%;
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0; 
}

.update-profile .update-button {
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.update-profile .update-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}