.article-content-user{
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-size: 12px;
  display: inline-flex;
  line-height: 20px;
  padding-left: 10px;
  margin: 5px 0;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}


.article-content-user a{
  color: black;
  text-decoration: none;
}

.article-content{
  text-align: left;
  border-radius: 15px;
  border: 1px solid rgba(68, 65, 65, 0.192);
  padding: 0 10px;
}

.article-content .article-title{
  vertical-align: middle;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: bold;
  display: flex;
}

.article-content .article-content-text{
  vertical-align: middle;
  justify-content: space-between;
  padding:0 0 10px 0;
  font-size: 12px;
}

.article-content-user .user-nickname{
  padding: 10px 0 0;
}

.article-content .article-title .article-delete-btn{
  border-radius: 20%;
  border: grey, 1px;
}

.article-content .article-title .article-delete-btn{
  text-align: end;
}

.article-content .article-content{
  padding: 0 0 5px;
  margin: 0 0 5px;
  /* border: solid 1px #71717131; */
  /* border-radius: 10px; */
}



.article-content-user .card-left {
  display: flex;
  justify-content: flex-start;
  font-size: 13px;
  text-align: start;
}

.article-content-user .card-left .profile-image {
  width: 40px;
  height: 100%;
  border-radius: 100%;
  margin: 0 10px 0 3px;
}

.article-content-user .card-right {
  font-size: 14px;
  width: 30%;
  height: 40px;
  line-height: 30px;
  padding-top: 5px;
  margin: auto 0;
}

.article-content-user .card-right .fas {
  color:red;
}