.profile-card {
  border: 1px solid rgba(68, 65, 65, 0.192);
  border-radius: 15px;
  margin: 15px 20px 20px 20px;
  padding: 15px 10px 15px 15px;
  background: rgb(236, 235, 234);
}

.profile-card .profile-top {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.profile-top .profile-imagebox {
  overflow: hidden;
  /* margin: 0 auto; */
  width: 20%;
}

.profile-imagebox .profile-image {
  width: 60px;
  height: 60px;
  object-fit: fill;
  border-radius: 100%;
}

.profile-top .profile-content {
  width: 80%;
  margin: 0 0 0 20px;
}

.profile-content .profile-namebox {
  display: flex;
  justify-content: space-between;
}

.profile-content .profile-name {
  font-weight: bold;
}

.profile-content .profile-follow {
  background: #96eaff;
  border: 1px solid rgba(129, 120, 120, 0.596);
  border-radius: 10px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.profile-content .profile-follow a {
  text-decoration: none;
  color: black
}

.profile-content .profile-introduction {
  float: left;
  font-size: 11px;
}

.profile-card .profile-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.profile-card .profile-bottom > a {
  text-decoration: none;
  color: black;
}

.profile-bottom .tag {
  margin: 0 8px 0 0;
  font-weight: bold;
}