.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  border-top: 0.1px solid rgba(0, 0, 0, 0.322);
  background: white;
  z-index: 1;
}

.nav-bottom .nav-items {
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-bottom .nav-items > div {
  display: inline-block;
  height: 100%;
  width: 20%;
}

.nav-bottom .nav-items > div > a {
  position: relative;
  top: 30%;
  left: 0;
}

.nav-bottom .nav-items > div:last-child {
  border: none;
}

.nav-bottom .nav-items > .active > a > i {
  color: rgb(0, 102, 255);
}

.nav-bottom .nav-items > div:active {
  background: rgba(0, 0, 0, 0.637);
}

.nav-bottom .far {
  width: 20%;
  color: rgb(0, 0, 0);
}

/* .nav-bottom .active {

} */
