.newsfeed-card {
  margin: 20px 10px;
  padding: 5px;
  /* border: 1px solid rgb(36, 211, 255); */
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(117, 143, 150, 0.726);
  background: #fafaf59f;
}

.newsfeed-card > a {
  text-decoration:none;
  color:black;
}

.newsfeed-card .newsfeed-card-top {
  align-items: center;
  padding: 0 3px 0 3px;
  margin: 5px 0 5px 0;
}

.newsfeed-card .newsfeed-title {
  display: flex;
  justify-content: space-between;
}

.newsfeed-card .newsfeed-title > span {
  font-weight:500;
}

.newsfeed-title .fa-heart {
  color: rgb(0, 0, 0);
  margin: 0 0 0 5px;
}

.newsfeed-title .active {
  color: red;
  margin: 0 0 0 5px;
}

.newsfeed-card .newsfeed-nickname {
  font-weight: bold;
  text-align: end;
}

.newsfeed-card .newsfeed-nickname > a {
  text-decoration: none;
  color: black;
}

.newsfeed-card .newsfeed-image {
  width: 100%;
}

.newsfeed-description {
  font-size: 15px;
  font-weight: 500;
  margin: 5px 0 10px 0;
}

.newsfeed-card-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  font-size: 13px;
  padding: 8px 0 8px 0;
}

.newsfeed-card-bottom .newsfeed-comment {
  display: flex;
}

.newsfeed-card-bottom .comment-writer {
  color: black;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.newsfeed-card-bottom .fas {
  margin: 5px;
}

.newsfeed-card .comment-more {
  font-size:10px; 
  margin: 5px 10px 10px 0;
}