.route-tab {
  background: white;
}

.search-box {
  margin: 15% 0 0 0;
  text-align: start;
  width: 100%;
}

.search-tab {
  width: 100%;
  font-size: 20px;
  margin-top: 0;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 50%;
  padding: 5px 0;
  transform: translate(-50%, 0);
  background: white;
  z-index: 1;
}

.search-position > .fa-chevron-left {
  font-size: 20px;
  margin: 0 0 10px 0;
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 5%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.search-select {
  position: relative;
  display: inline;
}

.search-select .search-text {
  display: inline;
}

.search-select .search-option-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
}

.search-select.active .search-option-list {
  max-height: none;
}

/* 테마 적용하기 */
.search-select {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  color: grey;
  margin: 0 5px 0 0;
}
.search-select:hover {
  color: rgb(53, 52, 52);
  transition: all .3s;
}
.search-select .search-option-list {
  list-style: none;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  background: white;
}
.search-select .search-option-list .option {
  text-align: center;
}